body {
  color: #14213d;
}
h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: 200;
  font-size: 40px;

  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-align: center;
}

h1 span {
  display: block;
  font-size: 0.5em;
  line-height: 1.3;
}
h1 em {
  font-style: normal;
  font-weight: 600;
}

.heading h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
  color: #14213d;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.banner {
  margin-bottom: 2%;
}